:root {
    --myFont: "Roboto", sans-serif;
}

/* remove default margin & padding from body */
body {
    margin: 0;
    padding: 0;

    /* remove later */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 80vh; /* change to 100 */
    width: 80vw;  /* change to 100 */
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(400px, 4fr);
    grid-template-rows: minmax(90px, 1fr) minmax(500px, 8fr);

}



/* sidebar section begin */

img {
    height: 20px;
    width: 20px;
}

.sidebar {
    background-color: rgb(76, 196, 236);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}


/* sidebar section end */




/* header section start */

.header {
    background-color: #fff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 200px;
}


/* header section end */




/* main section start */

.main-section {
    background-color: rgba(231, 225, 225, 0.911);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* main section end */

